{% extends 'base.html' %}
{% load static %}
{% block title %} | Home {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3 py-5">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/pizza.jpg' %}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Very Small Pizza</h5>
                        <p class="card-text">Price - 100 | Category - Veg</p>
                        <a href="#" class="btn btn-success">Cart <i class="fa-solid fa-cart-shopping"></i></a>
                        <a href="#" class="btn btn-primary">20% discount</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 py-5">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/pizza.jpg' %}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Very Small Pizza</h5>
                        <p class="card-text">Price - 100 | Category - Veg</p>
                        <a href="#" class="btn btn-success">Cart <i class="fa-solid fa-cart-shopping"></i></a>
                        <a href="#" class="btn btn-primary">20% discount</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 py-5">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/pizza.jpg' %}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Very Small Pizza</h5>
                        <p class="card-text">Price - 100 | Category - Veg</p>
                        <a href="#" class="btn btn-success">Cart <i class="fa-solid fa-cart-shopping"></i></a>
                        <a href="#" class="btn btn-primary">20% discount</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 py-5">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/pizza.jpg' %}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Very Small Pizza</h5>
                        <p class="card-text">Price - 100 | Category - Veg</p>
                        <a href="#" class="btn btn-success">Cart <i class="fa-solid fa-cart-shopping"></i></a>
                        <a href="#" class="btn btn-primary">20% discount</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
